[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/krkrz/freetype.git
	ignore = dirty
[submodule "external/ncbind"]
	path = external/ncbind
	url = https://github.com/uyjulian/ncbind.git
[submodule "external/simde"]
	path = external/simde
	url = https://github.com/simd-everywhere/simde.git
